h1.article-title {
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 30px;
    text-align: center;
    width: inherit;
    left:0%;
}

h3.article-author {
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 20px;
    text-align: center;
    width: inherit;
}

h4.article-source {
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 15px;
    text-align: center;
    width: inherit;
}


.article-body {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    position: relative;
    width: inherit;
}


h4.more{
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 15px;
    width: auto;
}

h5.more{
    font-family: 'Lato', sans-serif;
    position: relative;
    font-size: 15px;
    text-align: end;
    width: auto;
    cursor: pointer;
}

.container-article{
    border-style: none;
    float: left;
}

#main-article-container{
    position:absolute;
    top:10%;
    left:5%;
    width:83%;
}

.article-heart{
    float: left;
    font-size: 25px;
    cursor:pointer;
}

#more-articles-container{
    position: absolute;
    top:13% !important;
    right:5%;
    width:15%
}

.container-more{
    position:absolute;
    right: 13%;
    top:15%;
    border-style: none;
    float: left;
}

.panel-more{
    width: 100%;
    height:0%;
    cursor: pointer;
    margin-bottom: 0% !important;
}

.panel-more-text{
    width: 100%;
    height: 100%;
}

.panel-more-heading{
    margin-bottom: 0%;
    cursor: pointer;

}
