/*#article-search-input{*/
  /*padding: 2px;*/
  /*border: solid 1px #E4E4E4;*/
  /*border-radius: 8px;*/
  /*background-color: #fff;*/
  /*width: 23%;*/
  /*margin: 0;*/
  /*float: right;*/
  /*font-size: 12px;*/
/*}*/

/*#article-search-input input{*/
  /*border: 0;*/
  /*box-shadow: none;*/
  /*height:15px;*/
/*}*/

/*#search-text{*/
  /*height:15px;*/
/*}*/

/*#article-search-input button{*/
  /*margin: 2px 0 0 0;*/
  /*background: none;*/
  /*box-shadow: none;*/
  /*border: 0;*/
  /*color: #666666;*/
  /*padding: 0 8px 0 10px;*/
  /*border-left: solid 1px #ccc;*/
/*}*/

/*#article-search-input button:hover{*/
  /*border: 0;*/
  /*box-shadow: none;*/
  /*border-left: solid 1px #ccc;*/
/*}*/

/*#article-search-input .glyphicon-search{*/
  /*font-size: 12px;*/
/*}*/


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  margin-top:2px;
  width: 32px;
  height: 30px;
  background-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  color: #grey;;
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: white;
  left: initial;
  font-size: 12px;
}

#searchForm {
  position: relative;
  margin-top: 8px;
  text-align: center;
  color: white;
}

#search {
  position: relative;
  top: -5px;
  text-align: left;
  color: #cccccc;
}
