#not-authorized {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
}

#article-list {
    width: 130%;
    position: relative;
    right: 30px;
    bottom: 25px;
}

.list-group-item {
    background-color: #f8f8f8;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    /*float: left;*/
}
.list-group-box{
    background-color: #f8f8f8;
    font-size: 15px;
    margin-top: 5px;
    height: auto;
}

.list-group {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /*border-style: solid;*/
    /*border-color: grey;*/
    position: absolute;
    top: 150px;
    max-height: 600px;
    overflow-y: scroll;
}

p.main-article {
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
    position: relative;
    left: 80px;
    width: 800px;
    top: 100px;
}

h3.article-title {
    font-family: 'Lato', sans-serif;    width: 700px;
    position: relative;
    left: 180px;
    top: 105px;
    font-size: 30px;
}

#article-body {
    width: 800px;
    position: absolute;
    left: 85px;
    top: 130px;
}

#suggested-container {
    position: relative;
    width: 400px;
    left: 40px;
}

#suggested-header {
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 23%;
    top: 30px;
}

#article-suggestions {
    font-size: 16px;
    /*background:  url('/earth.jpeg') no-repeat left top;*/
    background-size: 100%;
    background-attachment: fixed;

    position: absolute;
    display: block;
    height: 100%;
    width: 100%;

    left: 0px;
}

.feed-heart{
    position:relative;
    font-size: 25px;
    cursor:default;
    left:93%;
}

/*.btn-like {*/
    /*background-color: #f8f8f8;*/
    /*font-size: 15px;*/
    /*cursor: pointer;*/
    /*margin-top: 5px;*/
    /*float: left;*/
    /*height:inherit;*/
    /*line-height:inherit*/
/*}*/

  /*background:  url('/earth.jpeg') no-repeat left top;*/
/*}*/

.img{
  width:30%;
}

