#not-authorized {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
}

#article-list {
    width: 130%;
    position: relative;
    right: 30px;
    bottom: 25px;
}

.list-group-item {
    background-color: #f8f8f8;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    /*float: left;*/
}

.list-group-item > p {
    font-style: italic;
}

.list-group {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /*border-style: solid;*/
    /*border-color: grey;*/
    position: absolute;
    top: 150px;
    max-height: 600px;
    overflow-y: scroll;
}

#suggested-header {
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 10.5%;
    top: 0px;
    font-size: 40px;
}

#article-suggestions {
    font-size: 11px;
    /*background:  url('/earth.jpeg') no-repeat left top;*/
    background-size: 100%;
    background-attachment: fixed;

    position: absolute;
    display: block;
    height: 100%;
    width: 100%;

    left: 0px;
}

.feed-heart{
    position:relative;
    font-size: 25px;
    cursor:default;
    left:93%;
}

.list-group-item-heading{
    font-size: 15px;
}

.img{
  width:30%;
}

#suggested-container{
    position:absolute;
    width: 50%;
    height:70%;
    direction: rtl;
}

.list-group-box{
    background-color: #f8f8f8;
    font-size: 15px;
    margin-top: 5px;
    height: auto;
    width:60%;
    position:relative;
    left: -38%;
    text-align: left;
}

.tooltip{
    /*background-color: black;*/
}

.tooltip-inner{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #269abc;
    z-index: -1;position:relative;
}

.tooltip-arrow{
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
}

