#not-authorized {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
}

#article-list {
    width: 130%;
    position: relative;
    right: 30px;
    bottom: 25px;
}

.list-group-item {
    background-color: #f8f8f8;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border: 0px;
    /*float: left;*/
}

.list-group-item > p {
    font-style: italic;
}

.list-group {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /*border-style: solid;*/
    /*border-color: grey;*/
    position: absolute;
    top: 150px;
    max-height: 600px;
    overflow-y: scroll;
}

#suggested-header {
    font-family: 'Playfair Display', serif;
    position: relative;
    left: -40%;
    top: 10px;
    font-size: 40px;
}

.feed-heart{
    position:relative;
    font-size: 25px;
    cursor:default;
    left:90%;
    top: 10px;
}

.list-group-item-heading{
    font-size: 12px;
}

.img{
  width:30%;
}

#suggested-container{
    position:static;
    width: 20%;
    height:400px;
    top: 5%;
    overflow-x: visible;
    overflow-y: scroll;
}

.list-group-box{
    background-color: #f8f8f8;
    font-size: 13px;
    margin-top: 5px;
    height: auto;
    width:100%;
    /*position:relative;*/
    left:-59%;
    text-align: left;
}

.tooltip{
    /*background-color: black;*/
}

.tooltip-inner{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #269abc;
    z-index: -1;
    position:relative;
    width:350px;

}

.tooltip-arrow{
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
}

.list-group-item-text {
    font-size: 10px;
}

.wrapper {
    position:relative;
}

#news-feed-header {
    font-size: 30px;
    position:absolute;
    left:45%;
    top:5%;
}

#topics-container {
    position:absolute;
    top:37%;
    left:30%;
}

#trending-topics-header{
    font-size: 30px;
    position:absolute;
    top:22%;
    width: 50%;
    left:37%;
}

.trending-topic{

}

#sites-container {
    position:absolute;
    bottom:26%;
    left:30%;
}

.hot-site{

}

#hot-sites-header{
    font-size: 30px;
    position:absolute;
    top:47%;
    width: 50%;
    left:37%;
}

.news-feed-trend{
    font-size:40px;
    margin-left:15px;
    border-radius: 25px;
    width:145px;
    height:65px;
    line-height:45px;
    font-size:13px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight: bold;

    border-style: solid;
    border-width: 1px;
    border-color: #black;

    background-color: 	#87CEFA;
    /* For WebKit (Safari, Chrome, etc) */
    background: 	#87CEFA -webkit-gradient(linear, left top, left bottom, from(#F0F8FF), to(	#87CEFA)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: 	#87CEFA -moz-linear-gradient(top, #F0F8FF, 	#87CEFA) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F8FF, endColorstr=	#87CEFA) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00E4FF, endColorstr=#00E4FF)" no-repeat;
}


.news-feed-trend:first-child {
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
}

.news-feed-trend:last-child {
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

.trending-divider {
    position:absolute;
    top: 30%;
    width: 300px;
    left:50.5%;
}

.sites-divider {
    position:absolute;
    top: 55%;
    width: 220px;
    left:53%;
}




