html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #Dcdcdc;
}

#crane-nav {
    font-family: 'Playfair Display', serif;
    color: white;
    left: 45%;
    top: 2%;
    position: absolute;
    width: 60%;
}

#small-crane {
    height:5%;
    width:5%;
}

.page-contents{
    height: 85%;
}