.navbar-default .navbar-nav > li > a:hover {
  border-bottom-color: #269abc;
  color: #00A000;
}

.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  margin-bottom: 0px;
  /*background:  url('/beige.jpg') no-repeat left top;*/
  background-color: black;
  border-color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 20px;
}

.navbar-default .navbar-left {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-default .navbar-right {
  padding-right: 40px;
}

input[type=submit] {
  padding:7px 15px;
  background:#0000FF;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  color: #269abc;
  text-align:center;
}

.form-control {
  padding: 20px 20px;
  margin-bottom: 10px;
}