h1 {
  text-shadow: white 0px 0px 2px;
  text-align: center;
  line-height: 400px;
  font-size: 400%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#crane {
  position:relative;
  left:430px;
  bottom:150px;
}