h1 {
  text-shadow: white 0px 0px 2px;
  line-height: 53px;
  position:absolute;
  left: 570px;
  top: 200px;
  text-align: center;
  font-size: 450%;
  font-family: 'Playfair Display', serif;
  width:250px;
  color: black;
}

#crane {
  position:absolute;
  left:620px;
  bottom:520px;
}

#homescreen {
  font-size: 16px;
  /*background:  url('/dawn.jpg') no-repeat left top;*/
  /*background-size: 100%;*/
  position:absolute;
  display:block;
  height:100%;
  width:100%;

  left: 0px;
}