h5{
  font-size:150%;
  color:#333333;
  font-family:	"Courier New", Courier, monospace;
}

.panel-title{
  font-size: 103%;
  margin:5px;
}

.panel-default{
  width: 80%
}

.search-source-header{
  font-size: 75%;
}
