#profile-page{
    position: absolute;
    top: 5%;
    left: 10%;
    height: 60%;
    width: 80%;
}

.list-group-tops{
    width: 100%;
    position:absolute;
    top:30%;
}

#profile-article-list{
    position:absolute;
    overflow: scroll;
    height: 300%;
    width: 80%;
    left:30%;
    top:25%;
}

.top-row{
    overflow-x: scroll;
}

.top-list-box{
    /*float: left;*/
}

.liked-articles-contianer{
    width: inherit;
    position:absolute;
    height:130%;
}

.profile-header{
    font-family: 'Playfair Display', serif;
    position:absolute;
    font-size: 150%;
    left:60%;
    top:4%;
}

.favorites-header{
    font-family: 'Playfair Display', serif;
    position:absolute;
    font-size: 150%;
    left:43%;
    top:4%;
}

.panel-top{
    width: 100%;
    cursor: pointer;
}

.missing-content{
    width: 100%;
    text-align: center;
}

#profile-liked{
    height:100%;
}

#top-sites {
    text-align: center;
}

#top-keywords{
    text-align:center;
}

#top-authors{
    text-align:center
}

#profile-top{
    height:100%;
}