#profile-page{
    position: absolute;
    top: 50px;
    left: 10%;
    height: 60%;
    width: 80%;
}

.list-group-tops{
    width: 100%;
}

#profile-article-list{
    overflow: scroll;
    height: inherit;
}

#top-row{
    overflow: scroll;
}

.liked-articles-contianer{
    width: inherit;
}

.liked-list-group {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /*border-style: solid;*/
    /*border-color: grey;*/
    position: absolute;
    top: 150px;
    max-height: 600px;
    width: inherit;
    overflow-y: scroll;
}

.top-list-box{
    float: left;
}

.profile-header{
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 23%;
    top: 30px;
}

.panel-top{
    width: 100%;
    cursor: pointer;
}
